[submodule "sphinx-example-bot"]
	path = sphinx-example-bot
	url = https://github.com/stakwork/sphinx-example-bot.git
[submodule "botSandBox/sphinx-example-bot"]
	path = botSandBox/sphinx-example-bot
	url = https://github.com/stakwork/sphinx-example-bot.git
