notes.md
.DS_Store
relay/db/*
relay/NODES.json
!relay/db/.gitkeep
bitcoind/*
!bitcoind/bitcoin.conf
lnd/*
!lnd/setup
zmq/*
!zmq/index.js
memes/*
!memes/.gitkeep
pgdata
proxy/*/*
!proxy/*/.gitkeep
relay/botEnvVars.json
redisData
