notes.md
.DS_Store
relay/db/*
relay/NODES.json
relay/botEnvVars.json
!relay/db/.gitkeep
bitcoind/*
!bitcoind/bitcoin.conf
lnd/*
!lnd/setup
zmq/*
!zmq/index.js
memes/*
!memes/.gitkeep
pgdata
proxy/*/*
!proxy/*/.gitkeep
redisData
relay/aliceTransportPublicKey.pem
relay/aliceTransportPrivateKey.pem
relay/bobTransportPublicKey.pem
relay/bobTransportPrivateKey.pem
relay/carolTransportPublicKey.pem
relay/carolTransportPrivateKey.pem
admin
cln-notes.md
.idea/